@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/*============ Style Text ============*/

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #2a2a2a;
    background-color: #FFFFFF !important;
}
.wow {
    visibility: hidden;
}
p {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    color: #fff;
    font-size: 15px;
}
a {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 15px;
}
a:focus {
    text-decoration: none;
}
span {
    display: -webkit-inline-box;
    display: -moz-inline-box;
}
a:hover {
    text-decoration: none;
}
img {
    max-width: 100%;
}
html,
html a {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
h2 {
    font-weight: 300;
    color: #d10274;
    font-size: 48px;
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
}
h1,
h3,
h4,
h5 {
    margin: 0px;
    padding: 0px;
}
span {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
.seperator{

}
hr {
    border-color: #ffa801;
    width: 7%;
    border-width: 3px;
    margin: 30px auto;
}
.nopadding {
    padding: 0px;
}
.nomargin {
    margin: 0px;
}


/*============ Style Header ============*/

header {
    background-color: transparent;
    position: relative;
}
.logo {
    margin-top: 33px;
}


/*============ Style Banner ============*/

#banner {
    background: url(../images/banner-1.jpg) center center no-repeat;
    background-size: cover;
    /* padding: 0; */
    padding-bottom: 279px;
}

.banner-text h1 {
    font-size: 36px;
    font-weight: 400;
    color: #000;
    margin-top: 67px;
}

#banner .callus {
    color: #000;
    font-size: 24px;
    font-family: "Roboto";
}

#banner .callus a {
    color: #000;
    margin-top: 34px;
    /* font-weight: bold; */
    display: block;
    text-transform: capitalize;
}

#banner .callus small {
    font-weight: bold;
}

.banner-text span {
    font-size: 60px;
    color: #d10274;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
}

.banner-text h4 {
    color: #ffffff;
    font-size: 15px;
    margin: 30px 0px;
    font-weight: normal;
    line-height: 24px;
}

#banner .btn-shopnow {
    width: 199px;
    height: 60px;
    font-weight: 500;
    color: #fff;
    font-size: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 60px;
    background-color: #d10274;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#banner .btn-shopnow:hover {
    background-color: #f8d6cd;
    color: #d10274;
    box-shadow: 0px 0px 12px 0px #d10274;
}

#banner .btn-submit:hover {
    background-color: #fff;
    color: #000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#banner .btn-download i.fa {
    font-size: 25px;
    float: left;
    padding-right: 20px;
    padding-top: 3px;
    padding-left: 10px;
}

.button-inner-text {
    text-align: left;
}

#banner .apple-button-1 {
    font-size: 15px;
    display: block;
    text-transform: capitalize;
    padding: 0px;
    text-align: left;
    margin: 0px;
}

#banner .apple-button-2 {
    margin: 0px;
    font-size: 12px;
    padding: 0px;
    display: block;
    text-align: left;
    line-height: 10px;
    text-transform: capitalize;
}

.btn-color1 {
    background-color: #666666;
}

.btn-color2 {
    background-color: #0092cb;
}

.btn-color3 {
    background-color: #2d4374;
}

.btn-color4 {
    background-color: #7a9314;
}

#banner .btn-download {
    width: 170px;
    height: 45px;
    border-radius: 25px;
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#banner .btn-download:hover {
    background-color: rgb(54, 10, 49);
}


/*============ Style Work ============*/

#work {
    padding: 95px 0;
}

.work_main {
    padding-bottom: 53px;
}

.work_block p {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 3px;
    color: #000;
    text-transform: capitalize;
}

#work small {
    /* text-align: right; */
    font-weight: 500;
    float: right;
    font-family: "Roboto";
}

#work img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    width: 100%;
}

#work img:hover {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.50);
    /*transition: all 0.5s ease 0s;*/
}


/*============ Style Learn ============*/

#learn {
    background: url(../images/learn-bg.jpg) center no-repeat;
    background-size: cover;
    padding: 100px 0px;
}

.lear-main {
    background-color: #cc0a71;
}

.learn-main h2 {
    color: #fff;
    font-size: 48px;
    font-family: "Roboto";
    font-weight: bold;
    /* margin-top: 110px; */
}

.learn-text p {
    color: #fff;
    margin-top: 40px;
}

.learn-text p small {
    margin-top: 37px;
}

.learn-text .btn-submit i.fa {
    font-size: 36px;
    vertical-align: sub;
    margin-right: 15px;
}

.learn-text .btn-submit {
    width: 182px;
    height: 74px;
    -webkit-border-radius: 3px/4px;
    -moz-border-radius: 3px/4px;
    border-radius: 3px/4px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #fff;
    line-height: 60px;
    margin-top: 50px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 24px;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.learn-text .btn-submit:hover {
    background-color: #fff;
    color: #ca0770;
    box-shadow: 0px 0px 16px 0px #fff;
    border-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.learn-video {
    margin-top: 150px;
}

.learn-video img {
    text-align: right;
    display: block;
    margin: 0 auto;
}


/*============ Style Service ============*/

#services {
    padding: 80px 0;
}

.services_main {
    padding-bottom: 53px;
}

.services_main h2 {
    font-weight: bold;
    font-size: 48px;
}

.services-img img {
    text-align: center;
}

.services-section-1 ul,
.services-section-2 ul {
    padding: 0px;
    margin: 0px;
}

.services-section-1 ul>li,
.services-section-2 ul>li {
    padding: 0px;
    margin: 0px 0px 70px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    list-style: none;
}

.services-section-1 ul>li:last-child,
.services-section-2 ul>li:last-child {
    margin-bottom: 0px;
}

.number {
    position: relative;
    width: 82px;
    height: 47.34px;
    background-color: transparent;
    margin: 45px 0;
    border-left: solid 2px #dadada;
    border-right: solid 2px #dadada;
}

.number:hover {
    background-color: #cc096f;
}

.number:hover i.fa {
    color: #fff;
}

.number:before,
.number:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 57.98px;
    height: 57.98px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 10.0086px;
}

.number:before {
    top: -28.9914px;
    border-top: solid 2.8284px #dadada;
    border-right: solid 2.8284px #dadada;
    z-index: -999;
}

.number:after {
    bottom: -28.9914px;
    border-bottom: solid 2.8284px #dadada;
    border-left: solid 2.8284px #dadada;
    z-index: -999;
}

.number i.fa {
    line-height: 50px;
    font-size: 28px;
    text-align: center;
    z-index: 999;
    color: #cc096f;
    display: block;
}

.services-section-1 .points-1 h4 {
    color: #450a40;
    padding-bottom: 10px;
    text-align: right;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 28px;
}

.services-section-2 .points-2 h4 {
    color: #450a40;
    padding-bottom: 10px;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 28px;
}

.services-section-1 .number {
    display: inline-block;
}

.services-section-1 .points-1 p {
    text-align: right;
    color: #000;
}

.services-section-2 .points-2 p {
    text-align: left;
    color: #000;
}



/*============ Style Subscribe ============*/

#subscribe {
    background: url(../images/subscribe-bg.jpg) center no-repeat;
    background-size: cover;
    padding: 85px 0px 45px;
}

.subscribe_main h2 {
    color: #fff;
}

.subscribe_main p {
    text-transform: uppercase;
    margin: 20px 0px;
}

.subscribe_main .btn-submit:hover {
    background-color: #fff;
    color: #cd0a6c;
    box-shadow: 0px 0px 14px 0px #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.subscribe_main .btn-submit {
    width: 221px;
    height: 65px;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    line-height: 48px;
    font-size: 28px;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


/*============ Style Screen ============*/

#screen {
    padding: 100px 0px;
}

#screen p {
    color: #000;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 400;
    margin-top: 25px
}

.screen-text .btn-submit i.fa {
    font-size: 36px;
    vertical-align: sub;
    margin-right: 20px;
    color: #450a40;
}

.screen-text .btn-submit {
    width: 206px;
    height: 74px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #d10274;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    line-height: 60px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.screen-text .btn-submit:hover {
    background-color: #ffffff;
    color: #cc096f;
    border-color: #d2266f;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 12px;
}

.screen-text .btn-submit:hover i.fa {
    color: #fff;
}

.screen-video img {
    text-align: left;
    display: block;
    margin: 0 auto;
}


/*============ Style Testi ============*/

#testimonial {
    background: url(../images/testi-bg.jpg) center no-repeat;
    background-size: cover;
    padding: 25px;
    text-align: center;
}

#testimonial h2 {
    color: #fff;
    
}
#testimonial p{
    color: #fff;
}

#testimonial .testi_img {
    display: inline-block;
    margin: 50px 0px 0;
}

.item span {
    display: block;
}

.item p {
    padding: 25px 0px;
    line-height: 25px;
}

.item h4 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-right: 15px;
}

.item h4 span {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    padding-top: 10px;
}


/*============ Style Footer ============*/

#copyRight {
    background-color: #1a1a1a;
    padding: 20px 0;
}

.footer-detail a {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    text-align: center;
}

.footer-detail h3 {
    color: #FFFFFF;
    font-size: 14px;
    text-transform: inherit;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.footer-detail a i.fa {
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-detail a i.fa:hover {
    background-color: #FFFFFF;
    color: #1e69b8;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-color: #fff;
}

#copyRight a {
    color: #fff;
}

#copyRight p {
    margin: 0px;
    color: #ffffff;
    font-size: 14px;
    text-align: right;
    padding-top: 9px;
}



.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 20px auto;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 0px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #fff;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}



/*============ Style Responsive ============*/
@media (max-width: 1024px) {
    br {
        display: none;
    }
    #work small{
        text-align: center;
    }
}

@media (max-width: 996px) {
    #screen,
    #banner,
    .logo,
    #learn,
    .services-section-1 ul>li,
    .services-section-2 ul>li,
    .services-section-1 .points-1 h4,
    .services-section-1 .points-1 p,
    .services-section-2 .points-2 h4,
    .services-section-2 .points-2 p,
    .screen-main {
        text-align: center;
    }
    .contact-us,
    .learn-video {
        text-align: center;
        margin-top: 5px;
    }
    .banner-text,
    .learn-main,
    .learn-main hr,
    .screen-main hr {
        text-align: center;
        margin: 20px auto;
    }
    #banner .btn-submit,
    .services-img {
        margin-bottom: 30px;
    }
    .banner-text h4 {
        display: inline-block;
    }
    .banner-text h1,
    .image,
    .services-img,
    .screen-video img {
        margin-top: 60px
    }
    .banner-text .btn-submit {
        margin-bottom: 50px;
    }
    .number {
        margin: 50px auto;
    }
    #learn {
        background: #450a40;
    }
    .item p {
        margin-left: 15px;
        margin-right: 15px;
    }
    #testimonial {
        padding-bottom: 0px;
    }
    #copyRight p,
    .footer-detail {
        float: none;
        text-align: center;
        font-size: 12px;
    }
    #copyRight p {
        text-align: center;
    }
}

@media (max-width: 756px) {
    .work_block {
        margin-bottom: 50px;
    }
    h2 {
        font-size: 30px;
    }
}

@media (max-width:426px) {
    .banner-text span,
    .banner-text h1 {
        font-size: 30px;
        margin-top: 24px;
    }
    .work_block {
        margin-bottom: 35px;
    }
    .learn_main h2,
    .work-main h2,
    .testimonial_main h2 {
        font-size: 30px;
    }
    .footer-detail h3 {
        margin-bottom: 20px;
        text-align: center;
        display: block;
    }
}

@media (max-width:376px) {
    span {
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    h2 {
        font-size: 25px;
    }
    span {
        font-size: 30px;
    }
    .banner-text span,
    .banner-text h1 {
        font-size: 22px;
    }
}





/* ============ STYLE LOADER ====================== */

#preloader{
	position: fixed;
	width: 100%;
	background: rgba(255,255,255,.97);
	height: 100%;
	z-index: 99999999999;

}

#loader {
 	position: absolute;
 	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 175px;
	height: 175px;
	margin: auto;
}
#loader .dot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 87.5px;
	height: 100%;
	margin: auto;
}
#loader .dot:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 87.5px;
	height: 87.5px;
	border-radius: 100%;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
}
#loader .dot:nth-child(7n+1) {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1):before {
	background: #00ff80;
	-webkit-animation: load 0.8s linear 0.1s infinite;
	   -moz-animation: load 0.8s linear 0.1s infinite;
	    -ms-animation: load 0.8s linear 0.1s infinite;
	     -o-animation: load 0.8s linear 0.1s infinite;
	        animation: load 0.8s linear 0.1s infinite;
}
#loader .dot:nth-child(7n+2) {
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2):before {
background: #00ffea;
	-webkit-animation: load 0.8s linear 0.2s infinite;
	   -moz-animation: load 0.8s linear 0.2s infinite;
	    -ms-animation: load 0.8s linear 0.2s infinite;
	     -o-animation: load 0.8s linear 0.2s infinite;
	        animation: load 0.8s linear 0.2s infinite;
}
#loader .dot:nth-child(7n+3) {
	-webkit-transform: rotate(135deg);
	   -moz-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	     -o-transform: rotate(135deg);
	        transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3):before {
background: #00aaff;
	-webkit-animation: load 0.8s linear 0.3s infinite;
	   -moz-animation: load 0.8s linear 0.3s infinite;
	    -ms-animation: load 0.8s linear 0.3s infinite;
	     -o-animation: load 0.8s linear 0.3s infinite;
	        animation: load 0.8s linear 0.3s infinite;
}
#loader .dot:nth-child(7n+4) {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4):before {
	background: #0040ff;
	-webkit-animation: load 0.8s linear 0.4s infinite;
	   -moz-animation: load 0.8s linear 0.4s infinite;
	    -ms-animation: load 0.8s linear 0.4s infinite;
	     -o-animation: load 0.8s linear 0.4s infinite;
	        animation: load 0.8s linear 0.4s infinite;
}
#loader .dot:nth-child(7n+5) {
	-webkit-transform: rotate(225deg);
	   -moz-transform: rotate(225deg);
	    -ms-transform: rotate(225deg);
	     -o-transform: rotate(225deg);
	        transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5):before {
	background: #2a00ff;
	-webkit-animation: load 0.8s linear 0.5s infinite;
	   -moz-animation: load 0.8s linear 0.5s infinite;
	    -ms-animation: load 0.8s linear 0.5s infinite;
	     -o-animation: load 0.8s linear 0.5s infinite;
	        animation: load 0.8s linear 0.5s infinite;
}
#loader .dot:nth-child(7n+6) {
	-webkit-transform: rotate(270deg);
	   -moz-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	     -o-transform: rotate(270deg);
	        transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6):before {
	background: #9500ff;
	-webkit-animation: load 0.8s linear 0.6s infinite;
	   -moz-animation: load 0.8s linear 0.6s infinite;
	    -ms-animation: load 0.8s linear 0.6s infinite;
	     -o-animation: load 0.8s linear 0.6s infinite;
	        animation: load 0.8s linear 0.6s infinite;
}
#loader .dot:nth-child(7n+7) {
	-webkit-transform: rotate(315deg);
	   -moz-transform: rotate(315deg);
	    -ms-transform: rotate(315deg);
	     -o-transform: rotate(315deg);
	        transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7):before {
	background: magenta;
	-webkit-animation: load 0.8s linear 0.7s infinite;
	   -moz-animation: load 0.8s linear 0.7s infinite;
	    -ms-animation: load 0.8s linear 0.7s infinite;
	     -o-animation: load 0.8s linear 0.7s infinite;
	        animation: load 0.8s linear 0.7s infinite;
}
#loader .dot:nth-child(7n+8) {
	-webkit-transform: rotate(360deg);
	   -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	     -o-transform: rotate(360deg);
	        transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8):before {
	background: #ff0095;
	-webkit-animation: load 0.8s linear 0.8s infinite;
	   -moz-animation: load 0.8s linear 0.8s infinite;
	    -ms-animation: load 0.8s linear 0.8s infinite;
	     -o-animation: load 0.8s linear 0.8s infinite;
	        animation: load 0.8s linear 0.8s infinite;
}
#loader .lading{
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -40px;
	height: 20px;
	width: 180px;
	background-position: 50% 50%;
}

@-webkit-keyframes load {
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes load  {
	100% {
		opacity: 0;
		-moz-transform: scale(1);
	}
}
@-ms-keyframes load {
	100% {
		opacity: 0;
		-ms-transform: scale(1);
	}
}
@-o-keyframes load {
	100% {
		opacity: 0;
		-o-transform: scale(1);
	}
}
@keyframes load {
	100% {
		opacity: 0;
		transform: scale(1);
	}
}